<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Cloude Base</title>

    <style>
        * {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            box-sizing: border-box;
            list-style: none;
            text-decoration: none;

            margin: 0;
            padding: 0;

            /* color: rgba(255, 255, 255, 0.899); */

            transition: all 0.3s ease-in-out;
            cursor: default;
        }

        ::-webkit-scrollbar{
            background-color: transparent;
            width: 8px;
        }
        ::-webkit-scrollbar-track{
            background-color: transparent;
        }

        ::-webkit-scrollbar-thumb{
            background-color: rgba(76, 76, 76, 0.62);
            border-radius: 50px;
        }
        a,button {
            cursor: pointer;

            outline: none;
            border: none;
        }
        
        
        body {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: flex-start;

            position: relative;

            padding: 2vh 1vw;

            background-color: black;
        } 

        nav{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            position: sticky;
            z-index: 1;

            background-color: inherit;
            width: 100vw;

            top: 0px;

            padding: 16px 8px;

            border-radius: 10px;

        }

        .profileLogo{
            display: flex;
            flex-direction: row;

            background-color: transparent;

            height: 100%;
            width: auto;

        }
        .profileLogo button {
            background-color: slateblue;

            color: white;
            
            padding: 10px;

            margin-right: 30px;

            border-radius: 5px;

            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.567);
            outline: none;
            border: none;

        }
        .profileLogo button a {
            color: inherit;
            text-decoration: none;
            font-size: 1rem;
        }

        nav> h1 {
            font-size: 30px;
        }

        body>:nth-child(2){


            /* margin-top: 14vh; */
        }

        
        .section1 {
            width: 100%;

            display: flex;
            flex-wrap: wrap;

            background: linear-gradient(to top,transparent, rgba(105, 90, 205, 0.105), rgba(1, 88, 52, 0.35), rgba(0, 187, 255, 0.168), transparent);
        }
        .section1 header{
            display: flex;
            justify-content: space-between;

            padding: 4px 20px;

            background-color: transparent;
            width: 100%;
        }
        .section1 header a{

        }


        /* detailForm */
        .formDiv{
            display: flex;
            flex-direction: column;
            align-items: center;

            background-color: brown;

            width: 100%;

        }

        main {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            margin-top: 40px;
            background-color: transparent;
            min-width: 100%;
            max-width: 100%;
            width: min-content;
            height: auto;
        }



        .section2 {
            width: 100%;


            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;

            background-color: rgba(38, 38, 38, 0.633);

            border-radius: 20px;

            padding: 10px;
        }

        .section2 header{
            display: flex;
            justify-content: space-between;

            padding: 4px 20px;

            background-color: transparent;
            width: 100%;
        }

        .card2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            position: relative;
            background-color: transparent;

            min-width: 20rem;
            max-width: 40rem;
            width: min-content;

            min-height: 10.6rem;
            height:auto;

            aspect-ratio: 10/9;

            z-index: 2;
            

            /* padding: 10px; */

            margin: 2px;

            border-radius: 0.4rem;

            overflow: hidden;

            box-shadow: 0px 0px 20px rgba(16, 16, 16, 0.41);


            &:active{
                outline: 2px solid slateblue;
            }

            &:hover{
                transform: scale(1.01);
                box-shadow: 7px 15px 20px black;
            }
        }

        .card2 div{
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            height: max-content;
            width: 100%;

            background-color: rgba(42, 42, 42, 0.737);

            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            top: 1px;

            padding: 2px 10px;
            position: relative;
            z-index: 1;

            
        }
        .card2 div p{
            text-align: start;
            font-weight: 400;
            font-size: 0.9rem;
        }
        .card2 img{
            width: 100%;
            /* height: 100%; */

            aspect-ratio: 5/3;

            position: relative;

            border-radius: inherit;
            /* filter: blur(15px); */
        }
        
        .card2 a h2{
            cursor: pointer;
        }



        .card2 a{
            background-color: transparent;

            position: absolute;
            
            z-index: 2;
            height: 100%;
            width: 100%;
        }
        
    </style>
</head>
<body>
    
    <nav>

        <h1>Cloude Base</h1>
    
        <div class="profileLogo">

            <button>
                
                <a href="/<%= userName %>"> <%= userName %> </a>
                <!-- <a href="">vaibhav999</a> -->
            </button>
            
        </div>

    </nav>

    <section class="section1">
        <header>
            <h3>Upload Movie to Cloud Base</h3>
            <!-- <a href="#">See all Categories</a> -->
        </header>

        <div id="mainForm" class="formDiv">
            <form action="/upload/movie" method="post">

                <p>Enter movie detail you want to upload on site</p>

                <label for="title">Enter title</label>
                <input type="text" name="title" id="title">

                <label for="discription">Enter movie discription</label>
                <textarea name="discription" id="discription"></textarea>

                <label for="trailer">Enter trailer URL</label>
                <input type="url" name="trailer" id="trailer">

                <label for="releaseDate">Enter release date</label>
                <input type="date" name="releaseDate" id="releaseDate">

                <label for="cast">Enter cast actors name <br>
                (seperate by comma "," )</label>
                <textarea name="cast" id="cast"></textarea>

                <label for="cast">Enter search Categories <br>
                (seperate by comma "," )</label>
                <textarea name="searchCatagory" id="searchCatagory"></textarea>

                <label for="director">Enter movie director name</label>
                <input type="text" name="director" id="director">

                <label >Enter movie duration</label>
                <div>
                    <div>
                        <label for="hour">in hour</label>
                        <input type="number" min="0" max="24" name="hour" id="hour">
                    </div>

                    <div>
                        <label for="minutes">in minutes</label>
                        <input type="number" min="0" name="minutes" id="minutes">
                    </div>

                    <div>
                        <label for="seconds">in seconds</label>
                        <input type="number" min="0" name="seconds" id="seconds">
                    </div>
                </div>

                <label for="size">Enter movie file size in (GB)</label>
                <input type="number" name="size" min="0" id="size">

                <label for="releasedInCountry">Select couentry where Released</label>
                <select title="Released in" name="releasedInCountry" id="releasedInCountry">

                    <option value="india">India</option>
                    
                </select>

                <label > Select Audio Tracks</label>
                <div>

                    <input type="checkbox" name="audioTrack" id="audioTrack">
                    <label for="audioTrack">English</label><br>
                </div>

                <label > Select Subtitle Tracks</label>
                <div>

                    <input type="checkbox" name="subtitleTrack" id="subtitleTrack">
                    <label for="subtitleTrack">English</label><br>
                </div>

                <label > Select available resolutions</label>
                <div>

                    <input type="checkbox" name="resolutions" id="resolutions">
                    <label for="resolutions">1080p</label><br>
                    
                </div>

                <form id="fileForm" action="/upload/movie" method="post" enctype="multipart/form-data">

                    <label for="movie">upload Movie</label>
                    <input type="file" name="movie" id="movie">

                    
                </form>




                <button type="submit" onchange="function submit() { 
                    $('#fileForm').submit();
                    $('#mainForm').submit();
                    return console.log('Clicked');
                    
                }">Submit Details</button>

            </form>
        </div>
        

    </section>


    <main>

        <section class="section2">
            <header>
                <h3>Top MOVIES</h3>
                <a href="#">See all</a>
            </header>
    
            <div class="allCategories">
    
    
                <!-- Category Card -->
                
                <button type="submit" class="card2">
                    <img src="../public/htmlphotos/movies.jpg" alt="">
                    <div>
                        <h2>Movie Title</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum, deserunt?</p>
                        <p>Release Date: 2022</p>
                        <p>Rating: 8.5/10</p>
                        
                    </div>

                    <a class="cardLink" href="####"></a>
                </button>

                

                

                

                


                

                
                
                 
            </div>
    
        </section>
    </main>

    
    
</body>
</html>