.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background: transparent;
  color: #ffffff;
}

.layoutBody {
  display: flex;
  flex: 1;
}

.mainContent {
  flex: 1;
  padding: 100px 3rem 3rem 290px; /* Top offset + Left offset */
  background: #161616;
  min-height: 100vh;
  box-sizing: border-box;
}
